@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source "./node_modules/heroui-native/lib";

@layer theme {
    @variant light {
        --color-primary: oklch(0.7038 0.123 182.5);
        --accent: var(--color-primary);
        --accent-foreground: oklch(1 0 0);
        --color-muted-foreground: oklch(0.9276 0.0058 264.53);

        --color-muted: oklch(0.4461 0.0263 256.8);

        --color-panel-border: var(--color-muted-foreground);
        --color-panel-separator: var(--color-muted-foreground);
        --color-panel-background: oklch(0.9846 0.0017 247.84);
    }

    @variant dark {
        --color-primary: oklch(0.7038 0.123 182.5);

        --color-muted-foreground: oklch(0.3729 0.0306 259.73);
        --accent: var(--color-primary);
        --accent-foreground: oklch(1 0 0);

        --color-muted: oklch(0.4461 0.0263 256.8);

        --color-panel-border: var(--color-muted-foreground);
        --color-panel-separator: var(--color-muted-foreground);
        --color-panel-background: oklch(0.2101 0.0318 264.66);
    }
}
